.floatright {
	max-width: 30%;
	width: auto;
	height: auto;
	float: right;
	padding-left: 20px;
}

.floatleft {
	max-width: 30%;
	width: auto;
	height: auto;
	float: left;
	padding-right: 20px;
}

p.caption {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 2rem;
    font-size: x-small;
}
